# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
*.csv
# Misc
.DS_Store
*.pem
*.log
.vscode/
.idea/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite
.vite/

.test.tsx
.test.ts
.test.js
.test.jsx
.vercel
.env*.local
Context.md

.jules/
*.exe
*.zip
*.png
.gemini/
newfeatures.md
newfeatures.txt
.ai_workflow/
agent.skills/
docs/
scripts/
docs
scripts
framer_implementation_plan.md

google59f34d5ad7f14d0c.html
!blueBot.png
!musicBot.png
seo_plan.md
!yotube.png
!spotify.png

.env*
!onboardingImage.jpg
